---
layout: page
---

<!-- Posts -->

{% for post in paginator.posts %}

  <div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">
        {{ post.title }}
      </h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">
        {{ post.subtitle }}
      </h3>
      {% endif %}

      <p class="post-meta">Posted on
        {% assign d = post.date | date: "%-d" %} 
        {% assign m = post.date | date: "%B" %} 

        {% case m %}
          {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
          {% when 'September' %}Sept.
          {% else %}{{ post.date | date: "%b" }}.
          {% endcase %}
        {% case d %}
          {% when '1' or '21' or '31' %}{{ d }}st
          {% when '2' or '22' %}{{ d }}nd
          {% when '3' or '23' %}{{ d }}rd
          {% else %}{{ d }}th,
          {% endcase %}
          {{ post.date | date: "%Y" }}
      </p>
    </a>
  </div>

  <hr class="small">

{% endfor %}
