<!-- Footer -->
<footer class="footer">

  <div class="copyright">
    &#169; {{ site.time | date: '%Y' }} {{ site.author }} &#8901; All rights reserved
  </div>
  
  <ul class='navigation'>
    {% include navigation_pages.html %}
  </ul>

  <ul class="social-links"></ul>

  <div class="made-with">
    Made with <a class="heart" href="/humans.txt">&#9829;</a> in Siberia
  </div>

</footer>

<!-- jQuery -->
<script src="{{ "/vendor/js/jquery.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom JS -->
<script src="{{ "/assets/js/main.min.js" | prepend: site.baseurl }}"></script>
