<footer class='footer'>
  <div class="social_me">
    <a href="https://github.com/{{ site.author }}">
      <i class="icon-github"></i>
    </a>
    <a href="http://stackoverflow.com/story/{{ site.author }}">
      <i class="icon-stackoverflow"></i>
    </a>
    <a href="https://twitter.com/{{ site.author }}">
      <i class="icon-twitter"></i>
    </a>
    <a href="https://www.instagram.com/{{ site.author }}">
      <i class="icon-instagram"></i>
    </a>
    <a href="https://linkedin.com/in/{{ site.author }}">
      <i class="icon-linkedin"></i>
    </a>
  </div>
  <p class="copyright">
    &copy; {{ site.author }} {{ site.time | date: '%Y' }}
  </p>
</footer>

<!-- JQuery -->
<script src="{{ "/vendor/js/jquery-3.1.1.min.js" | prepend: site.baseurl }}"></script>

<!-- Custom JS -->
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
