<!-- Header -->
<header class="navigation">
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="mobile-logo">
      <img src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" alt="Logo">
    </a>
    <a href="/" class="hamburger-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <nav role="navigation">
      <ul class="navigation-menu show">
        <li class="nav-link logo">
          <a href="{{ site.baseurl }}/" class="logo">
            <img src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" alt="Logo">
          </a>
        </li>
        {% for page in site.pages %}
          {% if page.title && page.url != '/404' %}
            {% if page.url != '/404' %}
              <li class="nav-link">
                <a class='page' href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li class="nav-link">
           <a class='page' href="{{ site.baseurl }}/">Journal</a>      
        </li>
      </ul>
    </nav>
  </div>
</header>
