/* =================================
  Journal
==================================== */

.journal-wrapper {
  @include animation-name(fadeInUp);
}

/* Posts preview */

.post-preview {
  padding: .2em 0;

  .post-title {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .post-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
  }

  .post-meta {
    color: $brown;
    font-style: italic;
    margin: 1em 0;
  }
}
