/* =================================
  Journal
==================================== */

.journal-wrapper {
  @include animation-name(fadeInUp);
  @include animation-duration(2s);
  @include animation-fill-mode(both);
}

@include keyframes(fadeInUp) {
  0% {
    opacity: 0;
    @include transform(translate3d(0, 100%, 0));
  }

  60% {
    opacity: .4;
    @include transform(none);
  }

  100% {
    opacity: 1;
  }
}

/* Posts preview */

.post-preview {
  padding: 1em 0;

  .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .post-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
  }

  .post-meta {
    color: $brown;
    font-size: 18px;
    font-style: italic;
    margin: 1em 0;
  }
}
