/* =================================
  Post/Project styles
==================================== */

.container.post,
.container.project {
  padding-bottom: 2em;

  article {
    padding: 1em 0;
  }
}

blockquote {
  border-left: 2px solid $brown;
  font-style: italic;
  margin: 0 0 20px;
  padding: 10px 20px;
}
