/* =================================
  Post
==================================== */

.post-wrapper {
  padding-bottom: 2em;
  padding-top: 1em;
  @include animation-name(fadeInUp);
}

.post {
  padding: 1em 0;
}

blockquote {
  border-left: 2px solid $brown;
  font-style: italic;
  margin: 0 0 20px;
  padding: 10px 20px;
}
