.error_404 {
  text-align: center;

  @media only screen and (max-width: 500px) {
    padding: 1.5em;
    height: 350px;
  }

  p {
    padding: 0;
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 2em;
  }

  .button {
    max-width: 280px;
    background: #774a0a;
    border: 1px solid #774a0a;
    color: #fdf5e6;
    display: block;
    margin: 3em auto 0;
    padding: .5em 2em;
  }

  .button:hover {
    background: transparent;
    color: #774a0a;
  }

  hr {
    margin: 0 auto;
  }
}
