/* ==================================
  Icons
================================== */

@include font-face("icons", "../fonts/icons", $file-formats: ttf eot woff svg);

[class^="icon-"], 
[class*=" icon-"] {
  font-family: 'icons' !important; // use !important to prevent issues with browser extensions that change fonts
  font-size: 1.5em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
}

.icon-tag {
  &::before {
    content: "\e900";
  }
}

.icon-heart {
  font-size: .8em;
  &::before{
    content: "\e901";
  }
}

.icon-feed {
  &::before {
    content: "\e907";
  }
}

.icon-twitter {
  &::before {
    content: "\e908";
  }
}

.icon-stack-overflow {
  &::before {
    content: "\e909";
  }
}

.icon-github {
  &::before {
    content: "\e90b";
  }
}
