// ==================================
//  Mixins
// ==================================
 
@mixin color-selection($tech) {
  &.#{$tech} {
    @if $tech == 'ruby' {
      border-left: 2px solid $red;

      &:focus,
      &:hover {
        background-color: transparentize($red, 0.9);
      }
    }
    @elseif $tech == 'python' {
      border-left: 2px solid $blue;

      &:focus,
      &:hover {
        background-color: transparentize($blue, 0.9);
      }
    }
    @elseif $tech == 'css' {
      border-left: 2px solid $green;

      &:focus,
      &:hover {
        background-color: transparentize($green, 0.9);
      }
    }
    @elseif $tech == 'javascript' {
      border-left: 2px solid $yellow;

      &:focus,
      &:hover {
        background-color: transparentize($yellow, 0.9);
      }
    }
    @else {
      border-left: 2px solid $brown;

      &:focus,
      &:hover {
        background-color: transparentize($brown, 0.9);
      }
    }
  }
}

@mixin nav-link-style {
  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
    @include transition(transform .5s, opacity .5s);
  }

  &::before {
    content: attr(data-hover);
  }

  &::after {
    background: $brown;
    bottom: 0;
    content: '';
    height: 2px;
    left: 0;
    opacity: 0;
    width: 100%;
    @include transform(translateY(5px));
  }
}
