// ==================================
//  Variables
// ==================================

// Font variables

$monospace: 'Roboto Mono', monospace;
$sans-serif: 'Roboto', Helvetica, Arial, sans-serif;

// Color variables

$main: #657b83;
$background: #fdf6e3;

$brown: #795548;
$white: #fff;
