// ==================================
//  Variables
// ==================================

// Font variables

$serif:                         'PT Serif', Cambria, Georgia, serif;
$sans-serif:                    'PT Sans', Helvetica, Arial, sans-serif;
$monospace:                     'Fira Mono', 'Times New Roman', monospace;

// Color variables

$main:                           #657b83;
$background:                     #fdf6e3;

$brown:                          #795548;
$white:                          #fff;

// Breakpoints

$large-screen:                   1300px;
$medium-screen:                  860px;
